<!DOCTYPE html>
<html>
<head>
  <title>UsersDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="display:inline-block; width: 45%;"><%= yield :left %></div>
  <div style="display:inline-block; vertical-align: top; width: 45%;"><%= yield :right %></div>
</body>
</html>
