<h1><%= @user.name %>'s Edit Page!</h1>
<%= form_for @user, url: {action: 'update'}, html: {class: 'user_form'} do |f| %>
  <%= label_tag :name, "Name" %>
  <%= f.text_field :name %>
  <%= label_tag :email, "Email" %>
  <%= f.text_field :email %>
  <%= label_tag :password, "Password" %>
  <%= f.password_field :password %>
  <%= label_tag :age, "Age" %>
  <%= f.number_field :age %>
  <%= f.submit "Update User" %>
<% end %>
