<h1>New User</h1>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name <input type="text" name="user[name]"></p>
  <p>Email <input type="text" name="user[email]"></p>
  <p>Age <input type="number" name="user[age]"></p>
  <p>Password <input type="password" name="user[password]"></p>
  <input type="submit" value="Create User">
</form>
<!-- <%= form_for @user, url: {action: "create"}, html: {class:"user_form"} do |f| %>
  <%= label_tag :name, "Name" %>
  <% if @user.errors.any? %>
    <%= @user.errors[:name] %>
  <% end %>
  <%= f.text_field :name %>
  <%= label_tag :email, "Email" %>
  <% if @user.errors.any? %>
    <%= @user.errors[:email] %>
  <% end %>
  <%= f.text_field :email %>
  <%= label_tag :password, "Password" %>
  <% if @user.errors.any? %>
    <%= @user.errors[:password] %>
  <% end %>
  <%= f.password_field :password %>
  <%= label_tag :age, "Age" %>
  <% if @user.errors.any? %>
    <%= @user.errors[:age] %>
  <% end %>
  <%= f.number_field :age %>
  <%= f.submit "Create User" %>
<% end %> -->
