<h1><%= session[:username] %></h1>
<form action="/secrets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="secret">New Secret</label>
  <textarea name="content" id="secret"></textarea>
  <input type="submit" value="Create Secret">
</form>
<a href="/users/<%= session[:user_id] %>/edit">Edit Profile</a>
<h4>Secrets</h4>
<% @user.secrets.each do |secret| %>
<div>
  <p><%= secret.content %></p>
  <p><%= secret.users_liked.count %> likes</p>
  <form action="/secrets/<%= secret.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
<% end %>
