<h1>Hello user #<%= @user.id %></h1>
<h1><%= @user.first_name %></h1>
<h1><%= @user.last_name %></h1>
<h1><%= @user.email %></h1>
<h1>Counter: <%= session[:counter] %></h1>
<h1># Users: <%= User.count %></h1>
