<!DOCTYPE html>
<html>
<head>
  <title>PizzaPalace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if logged_in? %>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Pizza Palace</h1>
        <form action="<%= sessions_path %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-default pull-right">Logout</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Pizzas</button>
          <button type="button" class="btn btn-default">My Profile</button>
          <button type="button" class="btn btn-default">Checkout</button>
        </div>
      </div>
    </div>
    <% else %>
    <h1 class="text-center">Pizza Palace</h1>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
